.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: red;
    color: white;
    font-weight: 700;
    width: 100%;
}
@media only screen and (max-width: 426px){
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: red;
        color: white;
        font-weight: 700;
        width: 425px;
    }
}
