.allpage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.all{
    width: 1150px;
}
.categoriestitle{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter {
    margin-top: 30px;
    width: 238px;
    height: 300px;
    background-color: #F1F1F1;
    border: 2px solid #CFCFCF;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Filtertitle{
    font-weight: 600;
  }
  .a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-container {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .slider {
    height: 10px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: red;
    cursor: pointer;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 25px;
    width:25px;    
    border: 1px solid black;
    border-radius: 100%;
 }
  .slider::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: white;
    height: 2rem;
    width: 1rem;
}
  .checkbox1 {
    margin-bottom: 10px;
    display: flex;
  }
  .checkbox1 input{
    width: 20px;
    height: 20px;
  }
  .checkbox1 p{
    margin-left: 10px;
  }
  .checkbox2 {
    margin-bottom: 10px;
    display: flex;
  }
  .checkbox2 input{
    width: 20px;
    height: 20px;
  }
  .checkbox2 p{
    margin-left: 10px;
  }
  
  .red-box1 {
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    color: white;
    top: 150px;
    width: 180px;
    height: 35px;
    border-radius: 6px;
    background-color: red;
    margin-bottom: 10px;
    line-height: 4dvh;
  }
  
  .red-box2 {
    margin-top: 30px;
    padding-left: 40px;
    width: 180px;
    height: 35px;
    border-radius: 6px;
    background-color: red;
    color: white;
    line-height: 4dvh;
  }
  .flist{
    width: 1100px;
    display: flex;
    justify-content: space-between;
  }
  .list{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
  .productimage{
    width: 200px;
    height: 180px;
  }
  .pbtn{
    display: flex;
    justify-content: space-between;
  }
  .infos{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
  }
  .infos p{
    font-size: 15px;
    color: red;
  }
  .card{
    width: 250px;
    height: 300px;
    border: 2px solid rgb(184, 184, 184);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card:hover{
    box-shadow: 5px 5px 5px gray;
  }
  .spiciness{
    color: rgb(160, 160, 160);
  }
  .pbtn button{
    background-color: white;
    border: black 2px solid;
    width: 80px;
    height: 40px;
  }
  .pbtn button:hover{
    background-color: red;
    border: none;
    color: white;
  }
  .nopapa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: red;
    color: white;
    font-weight: 700;
    width: 100%;
    margin-top: 30px;
  }
  @media only screen and (max-width: 426px){
   .allpage{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .all{
      width: 420px;
  }
  .categoriestitle{
      margin-top: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .categories{
    margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .filter {
      margin-top: 30px;
      width: 410px;
      height: 300px;
      background-color: #F1F1F1;
      border: 2px solid #CFCFCF;
      border-radius: 5px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
    }
    .Filtertitle{
      font-weight: 600;
    }
    .a{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .slider-container {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    
    .slider {
      height: 10px;
      border-radius: 10px;
      margin-top: 10px;
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      background: red;
      cursor: pointer;
    }
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: white;
      height: 25px;
      width:25px;    
      border: 1px solid black;
      border-radius: 100%;
   }
    .slider::-moz-range-thumb {
      border: none;
      border-radius: 0;
      background-color: white;
      height: 2rem;
      width: 1rem;
  }
    .checkbox1 {
      margin-bottom: 10px;
      display: flex;
    }
    .checkbox1 input{
      width: 20px;
      height: 20px;
    }
    .checkbox1 p{
      margin-left: 10px;
    }
    .checkbox2 {
      margin-bottom: 10px;
      display: flex;
    }
    .checkbox2 input{
      width: 20px;
      height: 20px;
    }
    .checkbox2 p{
      margin-left: 10px;
    }
    
    .red-box1 {
      text-align: center;
      font-size: 15px;
      font-weight: 900;
      color: white;
      top: 150px;
      width: 180px;
      height: 35px;
      border-radius: 6px;
      background-color: red;
      margin-bottom: 10px;
      line-height: 4dvh;
    }
    
    .red-box2 {
      margin-top: 30px;
      padding-left: 40px;
      width: 180px;
      height: 35px;
      border-radius: 6px;
      background-color: red;
      color: white;
      line-height: 4dvh;
    }
    .flist{
      width: 420px;
      display: block;
    }
    .list{
      margin-top: 30px;
      display: grid;
      grid-template-columns: auto;
      gap: 10px;
    }
    .productimage{
      width: 200px;
      height: 180px;
    }
    .pbtn{
      display: flex;
      justify-content: space-between;
    }
    .infos{
      display: flex;
      justify-content: space-evenly;
      width: 200px;
    }
    .infos p{
      font-size: 15px;
      color: red;
    }
    .card{
      width: 410px;
      height: 300px;
      margin-left: 5px;
      border: 2px solid rgb(184, 184, 184);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card:hover{
      box-shadow: 5px 5px 5px gray;
    }
    .spiciness{
      color: rgb(160, 160, 160);
    }
    .pbtn button{
      background-color: white;
      border: black 2px solid;
      width: 80px;
      height: 40px;
    }
    .pbtn button:hover{
      background-color: red;
      border: none;
      color: white;
    }
    .nopapa{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: red;
      color: white;
      font-weight: 700;
      width: 425px;
  }
  }