<app-header></app-header>
<div class="allpage" style="height: 2000px;">
    <div class="all">
        <div class="categoriestitle">
            <h1>categories</h1>             
        </div> 
        <div class="categories">
            <div class="All"><p>All</p></div>
            <div class="Salads"><p>Salads</p></div>
            <div class="Soups"><p>Soups</p></div>
            <div class="ChickenDishes"><p>Chicken-Dishes</p></div>
            <div class="BeefDishes"><p>Beef-Dishes</p></div>
            <div class="SeafoodDishes"><p>Seafood-Dishes</p></div>
            <div class="VegitableDishes"><p>Vegitable-Dishes</p></div>
            <div class="BitsBites"><p>Bits&Bites</p></div>
            <div class="OnTheSide"><p>On-The-Side</p></div>
        </div>
        <div class="flist">
            <div class="filter">
                <div>
                    <p class="Filtertitle">Filter</p>
                    <div class="slider-container">
                       <p class="a">Spiciness:</p>
                      <input type="range" min="0" max="4" value="0" class="slider" id="myRange">
                    </div>
                    <div class="checkbox1" >
                        <input type="checkbox">
                        <p>No nuts</p>
                    </div>
                    <div class="checkbox2" >
                        <input type="checkbox">
                        <p>Vegetarian only</p>
                    </div>
                    <div class="red-box1"><h4 class="RBT1" >RESET</h4></div>
                    <div class="red-box2"><h4 class="RBT2" >APPLY FILTER</h4></div>    
                    </div>
                </div>
            <div class="list">
                <div class="card" *ngFor="let item of products">
                    <div class="b">
                        <img class="productimage" [src]="item.image" [alt]="">
                        <h3>{{item.name}}</h3>
                        <p class="spiciness">Spiciness: {{item.spiciness}}</p>
                        <div class="infos">
                            <div class="nuts" *ngIf="item.nuts">
                                <p>With Nuts</p>
                            </div>
                            <div class="vegetarians" *ngIf="item.vegeterian">
                                <p>Vegetarian</p>
                            </div>                
                        </div>
                        <div class="pbtn">
                            <h1>{{item.price}} $</h1>
                            <button (click)="productsService.addToBasket(item.id)">Add To Cart</button>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
</div>
