<div class="all">
    <div class="nav1">
        <img class="logo" routerLink="" src="assets/logo.png" alt="">
        <div class="nav11">
            <div routerLink="" class="Home">
                <p>Home</p>
                <img src="assets/cheesy-pizza.png" alt="">
            </div>
            <div routerLink="/Cart" class="Cart">
                <p>Cart</p>
                <img class="deliveryicon" src="assets/fast-delivery.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="a">
<div class="all2">
    <h1>Fast And Efficient, Online Ordering You Must Try.</h1>
</div>   
</div>
