div{
    margin-top: 20px;
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}